<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>СНТ "Прометей-1"</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>
<body>
  <br>
  <div class="container">
    <div class="row mb-1">
        <div class="col-md-2">
            <img src="../static/image/oduvan.svg"/>
        </div>
        <div class="col-md-4 text-secondary">
            <p class="h5"><br>Садоводческое <br>
            некоммерческое <br>
            товарищество</p>
            <p class="h4">"Прометей-1"</p>
        </div>
        <div class="col-md-6 d-flex justify-content-end">
        <br>
            <a href="\home" role="button" class="btn ml-1 btn-dark" ><br><br>Главная<br><br></a>
            <a href="\" role="button" class="btn ml-1 btn-secondary" ><br><br>Новости и <br>объявления<br></a>
         <a href="\payinfo" role="button" class="btn ml-1 btn-danger"><br><br>Информация<br>по<br>оплате</a>
            <div class="btn-group">
                <a role="button" class="btn ml-1 btn-info dropdown-toggle text-white" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false" ><br><br>СНТ<br><br></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                    <a href="\home" class="dropdown-item bg-info text-white" type="button">Контакты</a>
                    <a href="\directorate" class="dropdown-item bg-info text-white" type="button">Правление</a>
                    <button class="dropdown-item bg-info text-white" type="button">Ревизионная комиссия</button>
                    <button class="dropdown-item bg-info text-white" type="button">Устав</button>
                    <button class="dropdown-item bg-info text-white" type="button">Протоколы общих собраний</button>
                    <button class="dropdown-item bg-info text-white" type="button">Протоколы собраний правления</button>
                </div>
            </div>
            <a href="" role="button" class="btn ml-1 btn-warning"><br><br>Частные<br>объявления<br></a>
        </div>
    </div>
    <!--br-->
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-info">
            {% block crumbs %}
            {% endblock %}
    </ol>
    </nav>

    <main role="main" class="container bg-light">
      <div class="row">
        <aside class="col-md-3 blog-sidebar">
          <div class="p-3 mb-3 bg-light rounded">
              {% block left %}
              {% endblock %}
          </div>

        </aside>

        <div class="col-md-9 blog-main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </main>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>