{% extends 'news/base.html' %}
{% block crumbs %}
  <li class="breadcrumb-item active  text-white" aria-current="page">
      Главная
  </li>
{% endblock %}

{% block left %}
<h4>О сайте</h4>
<p class="mb-0">
    Информационный ресурс для граждан, владеющих землей и недвижимостью, расположенной на территории СНТ "Прометей-1".
    Ресурс находится в состоянии разработки. Предложения по доработкам просьба присылать на
    <a href="mailto:snt.prometey1@gmail.com">snt.prometey1@gmail.com</a>
</p>
{% endblock %}
{% block content %}
<div class="h4 text-info">
    КОНТАКТЫ
</div>
<div>Садоводческое некоммерческое товарищество (СНТ) "Прометей-1"</div>
<div><b>Адрес:</b> Московская область, г.Звенигород, 17-й км ММК</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5909.410359928224!2d36.893643709736615!3d55.74592105008109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1555524840518!5m2!1sru!2sru" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
<div><b>Email:</b> snt.prometey1@gmail.com</div>
<div class="h4 mt-5 mb-2 text-info">
    ПЛАТЕЖНЫЕ РЕКВИЗИТЫ
</div>
<div><b>ИНН:</b> 5032083143</b></div>
<div><b>КПП:</b> 501501001</b></div>
<div><b>ОГРН:</b> 1035006476977</b></div>
<div><b>Расчетный счет:</b> 40703810838000004193</b></div>
<div><b>Банк:</b> Московский Банк ПАО СБЕРБАНК</b></div>
<div><b>БИК:</b> 044525225</b></div>
<div><b>Кор. счет: </b>30101810400000000225</div>
<div></div>
<div></div>
<div></div>
{% endblock %}
